---
section: 'conference'
title: 'Conference'
meta_description: ''
meta_keywords: ''
---

<h1>Conference</h1>

<h2>Video Archive</h2>

<ul>
  <%= content_tag :li, link_to('2013 Talks', 'http://www.youtube.com/watch?v=r7ufdRVEHyY&list=PL2CDtLMcqrFk_bWDwu5K6VmjtDc_AXZFD') %>
  <%= content_tag :li, link_to('2012 Talks', 'http://www.youtube.com/watch?v=I8p9jVFL0sQ&list=PL2CDtLMcqrFldU4dLHoNv0T2SPetq8WXo') %>
</ul>