/* 

Perfect Fifth:
http://modularscale.com/scale/?px1=18&px2=32&ra1=1.618&ra2=0
Font Size: 18px (1em) @ 1:1.618
Important Number: 32px (1.778em) @ 1:1.618

*/


// GLOBAL VALUES
// --------------------------------------------------



// Grays
$black:                            #000;
$almostBlack:                      #101010;
$grayDarker:                       #222;
$grayDark:                         #333;
$gray:                             #9C9C9C;
$grayLight:                        #B2B2B2;
$grayLighter:                      #eee;
$white:                            #fff;
      
// Accent colors                   
$blue:                             #049cdb;
$blueDark:                         #0064cd;
$green:                            #46a546;
$red:                              #9d261d;
$yellow:                           #ffc40d;
$orange:                           #f89406;
$pink:                             #EE219A;
$purple:                           #7a43b6;

// Links
$linkColor:                        $pink;
$linkColorHover:                   darken($linkColor, 15%);

// Typography                    
$baseFontSize:                     16px;
$baseFontFamily:                   "pt-sans", Helvetica, Arial, sans-serif;
$headlineFontFamily:               "franklin-gothic-urw-comp", "Arial Narrow", Helvetica, Arial, sans-serif;
$navFontFamily:                    "franklin-gothic-ext-comp-urw";
$baseLineHeight:                   1.5;
$textColor:                        $almostBlack;

// Background
$backgroundColor:                  $black;

// Buttons                         
$primaryButtonBackground:          $linkColor;

//Borders
$borderColor:                      $grayLighter;

// COMPONENT VARIABLES
// --------------------------------------------------

// Input placeholder text color
$placeholderText:                 $grayLight;


// GRID
// --------------------------------------------------
$navbarCollapseWidth:              767px;

$total-columns:                    16;
$column-width:                     2.8125em; 
$gutter-width:                     1.25em;
$side-gutter-width:                .625em; 


// Imports & Includes
// **************************************************
// **************************************************

@import "bootstrap";
@import "bootstrap/responsive-navbar";

// My Mixins
@import "partials/custom_mixins";

//Reset Styles
@import "compass/reset";

//Compass Mixins
@import "compass/css3";

@import "partials/footable-0.1";

// Include Susy
@import "susy";
@import "partials/font-awesome";

