---
section: 'training'
title: 'Ruby on Rails Training'
meta_description: ''
meta_keywords: ''
---

<h1>Ruby on Rails Training</h1>

<h3>Saturdays, April 5th &ndash; June 14th, 2014<br />Location TBD</h3>

<%= simple_format lorem.paragraphs(2) %>