@import 'partials/base';

// Global
// --------------------------------------------------

body {
  @include background($backgroundColor);
  color: $textColor;
  line-height: 1.5;
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
}

%container {
  @include container;
}

%headlineize {
  font-family: $headlineFontFamily;
  text-transform: uppercase;
  font-weight: 500;
}

%group {
  *zoom:1;
  &:before,
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
  }
}

// Typography
// --------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {
}

.wrapper {

}

hr {
  @include background(transparent url('../images/img-logo-tiny.png') no-repeat center);
  border: none;
  @extend %container;
  display: block;
  height: calc-em(22px);
  margin-bottom: calc-em(24px);
  &:before,
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 43%;
    background: #C0C0C0;
    @include box-shadow(rgba(255,255,255,1) 0 1px 0);
  }
  &:before {
    float: left;
    margin-top: calc-em(10px);
  }
  &:after {
    float: right;
  }
  @include ie7 {
    border: none;
    @include background(url('../images/img-logo-tiny.png') no-repeat center);
  }
  &.sub {
    background: none;
    background: #C0C0C0;
    @include box-shadow(rgba(255,255,255,1) 0 1px 0);
    height: 1px;
    &:before,
    &:after {
      content: none;
    }
  }
}

//  Icons
//  *************************************

[class^="icon-"], [class*=" icon-"]{
  background-image:none;
}


// Header
// --------------------------------------------------

.what-we-did {
  display: none;
  position: absolute;
  background: $white;
  @include background($white url('../images/backgrounds/bg-page.png') repeat top left);
  top: -60px;
  right: -190px;
  padding: 7em 0 3em 0;
  width: calc-em(390px);
  @include rotate(45deg);
  z-index: 20;
  @include box-shadow(rgba(0,0,0,.4) 0 2px 3px);
  @include ie8 {
    display: none;
  }
  @include respond-to('wide-screens') {
    display: block;
  }
  h3 {
    text-align: center;
    font-size: calc-em(18px);
    line-height: calc-em(27px, 18px);
    font-family: $headlineFontFamily;
    text-transform: uppercase;
    color: $pink;
    width: 33%;
    position: relative;
    top: 29px;
    margin: 0;
    left: 90px;
    font-weight: bold;
    z-index: 9999999;
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
    }

  } //h3
} //what-we-did

.site-header {

  border-top: 5px solid $black;
  @include background($black url('../images/backgrounds/bg-header.png'));
  background-size: cover;
  padding: calc-em(72px) 0 calc-em(48px) 0;
  position: fixed;
  width: 100%;

  z-index: -9999;

  @include respond-to('medium-screens') {
    padding: calc-em(64px) 0;
    height: calc-em(430px);
  }
  hgroup {
    @include background(rgba(255,255,255,.1));
    @include border-radius(2px);
    border: 1px solid rgba(255,255,255,.3);
    padding: calc-em(8px);
    margin: calc-em(16px) 0 calc-em(4px);
    @extend %group;

    @include respond-to('medium-screens') {
      margin: 0 0 calc-em(16px);
      @include squish(2,2);
    }
    @include respond-to('wide-screens') {
      padding: calc-em(8px) calc-em(24px);
    }
    img {
      width: 14%;
    }
  }

  h1 {
    @extend %headlineize;
    font-weight: 700;
    color: $pink;
    font-size: calc-em(48px);
    line-height: 1.25em;
    margin-bottom: calc-em(16px, 48px);
    span {
      font-size: calc-em(100px, 48px);
      display: block;
      color: $white;
      @include ie7 {
        padding-bottom: .2em;
      }
    }

    @include span-columns(13 omega);

    @include respond-to('most-landscape') {
    }

    @include respond-to('medium-screens') {
      @include span-columns(10 omega, 12);
      font-size: calc-em(82px);
      span {
        font-size: calc-em(170px, 82px);
      }
    } //medium-screens

  } //h1
  .loc-time-date {
    @extend %group;

    @include respond-to('medium-screens') {
      @include pad(2,2);
      display: block;
    } //medium-screens

    span {
      @extend %headlineize;
      color: $gray;
      font-family: $navFontFamily;
      margin-right: 0;
      font-size: calc-em(22px);
      @include span-columns(6,12);
      @include nth-omega(3n);
      font-weight: 400;
      @include respond-to('medium-screens') {
        @include span-columns(4,12);
      }
    } //span
    .building {
      display: none;
      @include respond-to('medium-screens') {
        display: block;
      } //medium-screens

    }
    .date {
      @include respond-to('medium-screens') {
        text-align: center;
      }

    }
    .loc {
      text-align: right;
      margin-right: 0;
      @include ie8 {
        width: 28%;
      }
    }
  } //loc-time-date
} //site-header

.header-content {
  @extend %container;
} //header-content


// Navbar
// --------------------------------------------------

.navbar {
  width: 100%;
  @include border-radius(0);
  background: $white;
  @include background(linear-gradient($white, darken($white, 3%)));
  @include box-shadow(rgba(0,0,0,.2) 0 2px 4px);

  z-index: 9999;
  position: relative;
  border-top: 5px solid $black;

  @include respond-to('medium-screens') {
    border-top: none;
    top: calc-em(430px);
  }

  &.attached {
    @include respond-to('medium-screens') {
      border-top: 5px solid $black;
    }
  }
  .brand {
    @include replace-text(50px, 56px, url('../images/img-logomark.png') no-repeat top left);
    padding: 0;
    margin:  calc-em(6px) 0 0 0;
    width: 50px;
    height: 40px;
    background-size: contain;
    margin-bottom: 10px;
    @include respond-to('medium-screens') {
      width: 50px;
      height: 56px;
      margin-bottom: 0;
    }
  } //brand
  .nav-collapse {

    @include respond-to('medium-screens') {
      float: right;
    }
  }
  .nav {
    margin: 0;
    margin-bottom: calc-em(18px);
    @include respond-to('medium-screens') {
      margin: 0;
    }


    > li {
      > a {
        @extend %headlineize;
        font-family: $headlineFontFamily;
        font-size: calc-em(24px);
        font-weight: 700;
        padding-left: 0;
        @include respond-to('medium-screens') {
          padding: calc-em(19px, 24px) calc-em(15px, 24px) calc-em(19px, 24px);
        }
      } //a
      &.active {
        a,
        a:focus,
        a:active,
        a:hover {
          background: none;
          color: $black;
          @include box-shadow(none);
        }
      } //active
      
    } //li

  } //nav

  .buy-link {
    @extend %headlineize;
    font-weight: 700;
    color: $white;
    font-size: calc-em(24px);
    text-shadow: none;
    display: block;
    margin-bottom: calc-em(18px, 24px);
    @include respond-to('medium-screens') {
      margin: 0;
      padding: calc-em(19px, 24px) 0 calc-em(19px, 24px) calc-em(15px, 24px);
      float: right;
    }
    span {
      background: $pink;
      padding: calc-em(3px) calc-em(6px);
    }
  }

  @include ie7 {
    border-bottom: 1px solid $borderColor;
  }
} //navbar

.navbar-inner {
  border: none;
  background: none;
  @include box-shadow(none);
  @include border-radius(0);
  @extend %container;
  max-width: auto;
  .btn-navbar {
    margin-top: calc-em(12px);
  }
  @include respond-to('wide-screens') {
  }
}

// Main Content
// --------------------------------------------------

.main-content {
  @include background($white url('../images/backgrounds/bg-page.png') repeat);
  margin-top: calc-em(225px);
  @include respond-to('most-landscape') {
    margin-top: calc-em(320px);
  }
  @include respond-to('medium-screens') {
    margin-top: calc-em(430px);
  }


} //main-content


.content-block {
  @extend %group;
  overflow: hidden;
  &.light,
  &.dark {
    color: $white;
    a {
      color: $black;
    }
  }
  &.light {
    background: $pink;
  }
  &.lightest {
    background: $white;
    color: $black;
  }
  &.dark {
    background: $black;
    a {
      color: $pink;
    }
  }
  .block-copy {
    padding: calc-em(16px);
    box-sizing: border-box;
    a {
      font-weight: 700;
    }
  } //block-copy
  .block-image {
  } //block-image

  h2 {
    @extend %headlineize;
    font-weight: 700;
    font-size: calc-em(42px);
    line-height: 1.5em;
  }

  label, p {

    margin: 0 0 calc-em(18px) 0;
  }
} //content-block


@each $section in about, speakers, venue, schedule, sponsors {
  .#{$section} {
    @extend %container;
    padding-top: calc-em(36px);
    margin-bottom: calc-em(36px);
  }
}

.about {
  @extend %group;
  overflow: hidden;
  .synopsis {
    @include respond-to('medium-screens') {
      @include span-columns(10 omega);
      float: left;
    } //medium-screens
  }
  .email-reg {

    @include respond-to('medium-screens') {
      @include span-columns(6 omega);
      float: left;
      width: 38.23525%;
      @include equalize-column;
    } //medium-screens

    .block-copy {
      > a{
        @extend %headlineize;
        color: $white;
        font-size: calc-em(24px);
        font-weight: 700;
        padding: calc-em(3px) calc-em(6px);
        background: $pink;
      }
    }

    label {
      @include respond-to('medium-screens') {
        margin-bottom: calc-em(32px);
      }
    }

    input {
    }

    .email {
      float: left;
      width: 54%;
    }

    .subscribe-btn {
      float: left;
      width: auto;
      height: 41px;
      width: 40%;
    }
    .input-append {
      @extend %group;
      margin-bottom: calc-em(16px);
    }

  } //email-reg
}

.speaker {
  @extend %group;

  overflow: hidden;
  margin-bottom: calc-em(48px);

  @include respond-to('medium-screens') {
    @include span-columns(5);
    @include nth-omega(3n);
    &:nth-child(3n+1) {
      clear: both;
    }
  }



  .speaker-photo {

    background-size: cover;
    height: calc-em(160px);
    width: 48%;
    float: left;

    @each $speaker in  chris, sara, jessica, elmer, doug, tim, greg, question, question-reverse {
      &.#{$speaker} {
        @include background(url('../images/speakers/#{$speaker}.png') no-repeat top left);
      }
    }

  }
  .speaker-name {
    float: right;
    width: 46%;
    padding: 2%;
    @include equalize-column;
    h3 {
      @extend %headlineize;
      font-size: calc-em(34px);
      line-height: 1em;
      font-weight: 700;
      margin-bottom: calc-em(12px, 34px);
    }
    h4 {
      font-weight: 700;
      line-height: 1.25em;
      margin-bottom: .677em;
    }
    h5 {
      font-weight: 400;
      font-size: calc-em(14px);
      color: $black;
    }
  }
  &.light {
    background: $pink;
    .speaker-name {
      color: $white;
    }
    a {
      color: $white;
    }
  }
  &.lightest {
    background: $white;
    .speaker-name {
      color: $black;
      h4 {
        color: $pink;
      }
    }
  }
  &.dark {
    background: $black;
    .speaker-name {
      color: $white;
      h5 {
        color: $pink;
      }
    }
  }

  &:nth-child(3n + 2) {
    @include respond-to('medium-screens') {
      margin-left: 3%;
    }


  }
} //speaker

.about-cac {
  @extend %group;
  margin-bottom: calc-em(48px);
  .block-copy {
    @include respond-to('medium-screens') {
      @include span-columns(11);
    } //medium-screens
  }
  .block-image {
    height: 305px;
    @include background(url('../images/img-cac.jpg') no-repeat top left);
    background-size: cover;
    @include respond-to('medium-screens') {
      @include span-columns(5 omega);
    } //medium-screens
    @include ie7 {

      width: 27.9%;
    }
  }

} //about-cac

.lodging {
  @extend %group;
  .block-copy {

    @include respond-to('medium-screens') {
      @include span-columns(11 omega);
    } //medium-screens
  }
  .block-image {
    height: 305px;
    @include background(url('../images/img-metropole.jpg') no-repeat top left);
    background-size: cover;

    @include respond-to('medium-screens') {
      @include span-columns(5);
    } //medium-screens
    @include ie7 {
      width: 27.9%;
    }
  }
  p:last-of-type {
    margin-bottom: calc-em(32px);
  }
} //lodging

.sponsors {
  margin-bottom: 0;
  h3 {
    @extend %headlineize;
    font-weight: 800;
    color: #959595;
    font-size: calc-em(28px);
    margin-bottom: calc-em(28px, 28px);
  }
  .ample {
    margin-left: calc-em(60px);
  }
  .sub {
    margin-bottom: calc-em(40px);
  }
}

.hotel-list {
  @extend %group;
  .hotel {
    margin-bottom: calc-em(16px);
    @include respond-to('medium-screens') {
      @include span-columns(3.5, 11);
      @include nth-omega(3n);
      margin-bottom: 0;
    } //medium-screens

  } //hotel
  .vcard {
    font-size: calc-em(14px);
    line-height: calc-em(20px, 14px);
    .org {
      font-size: calc-em(18px, 14px);
      font-weight: 700;
    } //org
  } //vcard
} //hotel-list

.sponsor-row {
  @extend %group;
  @include respond-to('medium-screens') {
    margin-bottom: calc-em(42px);
  }
  .sponsor {
    margin: 0 auto calc-em(48px) auto;
    img {
      width: auto;
    }
    a {
      display: block;
    }
    @include respond-to('medium-screens') {
      @include span-columns(4);
      @include nth-omega(4n);
      &.send-grid {
        padding-top: calc-em(20px);
      }
    }
    &.last {
      @include ie8 {
        margin-right: 0;
      }
    }
    &.follower {
      padding-top: calc-em(30px);
    }
  }
} //sponsor-list

.table {
  background: $white;
  thead {
    background: $black;
    th {
      @extend %headlineize;
      color: $white;
      border: none;
      font-size: calc-em(42px);
      line-height: 1em;
      font-weight: 700;

      &.time-head {
        @include respond-to('medium-screens') {
          text-indent: -9999px;
        }
      }
    }

  }
  tbody {
    td {
      border: none;
      border-bottom: 1px solid $borderColor;
      padding: calc-em(48px);
      @extend %group;
      &:nth-child(2n) {
        border-right: 1px solid $borderColor;
      }
      &.footable-cell-detail {
        padding: 1em;
      }

      .footable-row-detail-inner {
        div {
          @extend %group;
          width: 100%;
          margin-bottom: .5em;
        }
      }

    }
    tr:last-child {
      td {
        border-bottom: none;
      }
    }


    .talk-photo {
      float: left;
      width: calc-em(55px);
      margin-right: calc-em(16px);
    }
    .talk-text {
      float: left;
      width: calc-em(285px, 14px);
      font-size: calc-em(14px);
      h3 {
        font-size: calc-em(21px, 14px);
        font-weight: 700;
      }
    }



    .time {
      @extend %headlineize;
      border: none;

      background: $pink;
      color: $white;
      line-height: 1em;
      font-size: calc-em(48px);
      padding: calc-em(24px, 48px) calc-em(12px, 48px);
      border-bottom: 1px solid darken($pink, 10%);
      @include respond-to('medium-screens') {
        width: columns(2);
        font-size: calc-em(22px);
        padding: calc-em(48px, 22px) calc-em(24px, 22px);
      }
    }
  }

  &.breakpoint {
    tr {
      .time {
        @include background($pink url('../images/parts/arw-right.png') no-repeat 90% 50%);
      }
    }

    .footable-detail-show {
      .time {
        @include background($pink url('../images/parts/arw-down.png') no-repeat 90% 50%);
      }
    }
  }
}

.input-append {
  input,
  .btn:last-child {
    font-size: 22px;
    @include border-radius(0);
  }
  input {
    &::-webkit-input-placeholder { font-style: italic; }
    &::-moz-placeholder { font-style: italic; } /* firefox 19+ */
    font-size: 18px;
    height: 31px;
  }

  input:-moz-placeholder { font-style: italic; }

  .btn {
    background: $pink;
    @extend %headlineize;
    color: $white;
    @include box-shadow(none);
    border: none;
    @include text-shadow(none);
  }
}


// Footer
// --------------------------------------------------

.site-footer {
  background: $black;
  color: $gray;

  .footer-content {
    @extend %container;
    overflow: hidden;
  }
  p {
  }
  h3 {
    @extend %headlineize;
    color: $gray;
    font-size: calc-em(28px);
    font-weight: 700;
    margin-bottom: calc-em(6px, 28px);
  }
  hr {
    background: none;
    height: 1px;
    background: $grayDark;
    &:before,
    &:after {
      content: none;
    }
  }
  .more-qcmerge {

    padding-top: calc-em(16px);
    border-bottom: 1px solid $grayDark;
    margin-bottom: calc-em(16px);
    @include respond-to('medium-screens') {
      @include span-columns(6);
      margin-right: 0;
      margin-bottom: 0;
      border: none;
      border-right: 1px solid $grayDark;
      padding-bottom: calc-em(16px);
    }

    p {
      margin-bottom: 1em;
    }
  }
  .etc {
    @include respond-to('medium-screens') {
      @include span-columns(5);
      border-right: 1px solid $grayDark;
      margin-right: 0;
      padding-top: calc-em(16px);
      padding-bottom: calc-em(16px);
      @include equalize-column;
    }

  }
  .social {
    padding-bottom: calc-em(15px);
    @include respond-to('medium-screens') {
      padding-left: gutter(5);

    }

    a {
      display: inline-block;
      margin-right: calc-em(12px, 24px);
      font-size: calc-em(24px);
    }
  }
  .last-year {
    border-bottom: 1px solid $grayDark;
    padding-bottom: calc-em(16px);
    margin-bottom: calc-em(16px);
    @include respond-to('medium-screens') {
      border: none;
      padding-bottom: 0;
      padding-left: gutter(5);
    }

  }
  .help-copy {

    @include respond-to('medium-screens') {
      padding-top: calc-em(16px);
      @include span-columns(5);
      margin-right: 0;
    }
  }
  .help-out,
  .copyright,
  .become-sponsor {
    @include respond-to('medium-screens') {
      padding-left: gutter(5);
      padding-bottom: calc-em(16px);
    }

  }

  .help-out {
    padding-bottom: calc-em(16px);

    input {
      font-size: 14px;
      height: 20px;
      width: 160px;
    }
    .btn {
      font-size: 15px;
      height: 30px;
      width: 100px;
    }
  }

  .copyright {
    font-size: calc-em(12px);
  }

} //site-footer

.video-list {
  @extend %group;
  .video-thumb {
    float: left;

    width: 20%;
    margin-bottom: calc-em(16px);
    a {
      display: block;
      &:hover {
        img {
          border-color: $white;
        }
      }
    }
    img {
      border: 1px solid $grayDark;
      @include transition(.2s all linear);
    }
  }
}


.modal {
  h3 {
    @extend %headlineize;
    font-size: calc-em(34px);
    line-height: 1em;
    font-weight: 700;
  }

  h4 {
    @extend %headlineize;
    font-size: calc-em(21px);
    line-height: 1em;
    font-weight: 500;
    margin-bottom: calc-em(10px, 21px);
  }

  hr {
    margin: calc-em(14px) 0;
  }

  p {
    margin-bottom: 1em;
  }

  .connect-speaker {
    a {
      color: $pink;
      &:hover,
      &:active,
      &:focus, {
        color: $black;
        text-decoration: none;
      }
    }
    ul li {
      display: inline-block;
    }
  } //connect-speaker



} //modal
