@import 'partials/base';


// Global
// --------------------------------------------------

body {
  @include background($backgroundColor);
  color: $textColor;
  line-height: 1.5;
  font-size: 100%;
  font-family: $baseFontFamily;
  border-top: 10px solid $black;
}

%container {
  
  @include respond-to('wide-screens') {
    width: calc-em(530px);
    padding-left: 40%;
  }
}


%fixz {
  position: relative;
  z-index: 11;
}

%group {
  *zoom:1;
  &:before,
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
  }
}

// Typography
// --------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  font-family: $headlineFontFamily;
  text-transform: uppercase;
  font-weight: 700;
  @extend %fixz;
}

h1 {
  font-size: calc-em(70px);
  text-align: center;
  line-height: 1em;
  span {
    font-family: $altHeadlineFontFamily;
    display: block;
    font-weight: 400;
    font-size: calc-em(50px, 70px);
    line-height: 1em;
  }
}

h2 {
  font-family: $altHeadlineFontFamily;
  color: $white;
  font-size: calc-em(36px);
  font-weight: 700;
}

h3 {
  font-size: calc-em(21px);
  line-height: calc-em(28px, 21px);
  font-family: $altHeadlineFontFamily;
  font-weight: 400;
  color: $white;
  margin-bottom: calc-em(10px, 21px);
}

h4 {

}

p {
  @extend %fixz;
}

.wrapper {

}

// Header
// --------------------------------------------------

.site-header {
  @extend %group;
  text-align: center;
  background: #FFF;
  padding: calc-em(15px) 0 calc-em(30px);
  @include respond-to('wide-screens') {
    padding: calc-em(80px) 0 calc-em(30px);
  }
  p {
    font-size: calc-em(24px);
  }
}

.header-content {
  @extend %container;

}

.site-logo {
  margin-bottom: calc-em(15px);
  @include respond-to('wide-screens') {
    position: absolute;
    left: 20px;
    top: 30px;
    z-index: 15;
  }
}

// Main Content
// --------------------------------------------------


.main-content {

} //main-content

.building {

  @include respond-to('wide-screens') {
    display: block;
    width: 320px;
    position: absolute;
    height: 320px;
    top: 10px;
    left: 0;
    z-index: 10;
    overflow: hidden;
    @include background(image-url('backgrounds/bg-building.png') no-repeat top left);
    background-size: contain;
    height: 100%;
    width: 100%;
    top: 0;
  }

}

.description {
  @extend %group;
  background: $pink;
  text-align: center;
  margin-bottom: calc-em(34px);
  padding: calc-em(34px, 34px) 0;
}

.description-content {
  @extend %container;
  position: relative;
    &:after {
    content: '';
    display: inline-block;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-top: 34px solid #ccc;
    border-top-color: $pink;
    position: absolute;
    right: 42%;
    bottom: -40px;
    @include ie8 {
      right: 47%;
    }
    @include respond-to('medium-screens') {
      right: 45%;
      bottom: -50px;
    }
    @include respond-to('wide-screens') {
      right: 250px;
    }
  }
}

.description-header {
  h2, h3 {
    text-align: center;
  }
}

.date-time {
  @extend %group;
  @extend %fixz;
  font-style: italic;
  margin: 0;
  list-style-type: none;
  text-align: center;
  li {
    list-style-type: none;
    display: inline-block;
  }
}

.email-signup {
  @extend %container;
  clear: both; 
  text-align: center;
  @extend %fixz;
  margin-bottom: calc-em(28px);
  label {
    font-family: $altHeadlineFontFamily;
    font-weight: 400;
    font-size: calc-em(24px);
    margin-bottom: calc-em(12px, 24px);
    color: $white;
    display: block;
    text-transform: uppercase;
  }
  input[type='text'],
  input[type='email'] {
    text-align: center;
    font-family: $baseFontFamily;
    margin: 0 auto;
    display: block;
    font-size: calc-em(20px);
    line-height: calc-em(36px, 20px);
    height: calc-em(40px, 20px);
    margin-bottom: calc-em(20px, 20px);
    background: #d9d8d7;
    color: darken(#8f8f8f, 20%);
    font-style: italic;
    &.placeholder {
      color: #8f8f8f;
      font-style: italic;
    }
    &:-moz-placeholder {
      color: #8f8f8f;
      font-style: italic;
    }
    &::-webkit-input-placeholder {
      color: #8f8f8f;
      font-style: italic;
    } 
  } //input
  .button {
    @extend %fixz;
    border: none;
    color: $white;
    text-transform: uppercase;
    @include border-radius(4px);
    background: $pink;
    font-family: $altHeadlineFontFamily;
    font-size: calc-em(24px);
    display: inline-block;
    padding: calc-em(3px, 24px) calc-em(36px, 24px);
    @include transition(all .2s linear);
    &:hover {
      cursor: pointer;
      background: darken($pink, 10%);
    }
  } //button

}

// Footer
// --------------------------------------------------

.site-footer {
  @extend %group;
}

.footer-content {
  @extend %fixz;
  @extend %container;
  
  text-align: center;
  a {
    padding-right: calc-em(10px, 28px);
    display: inline-block;
    font-size: calc-em(28px);
    text-decoration: none;
    color: #5c5c5f;
    &.twitter {
      padding-left: calc-em(10px, 28px);
    }
    &.facebook {
    }
  }
  .sponsor {
    font-family: $baseFontFamily;
    font-style: italic;
    font-size: calc-em(12px);
  }
}

