<section class="section speakers" id="speakers">

  <div class="speaker light">
    <div class="speaker-photo jen">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Jen<br /> Myers</h3>
      <h4>Web/Interface Designer</h4>
      <h5>Relevance</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo sarah">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Sarah Hatter</h3>
      <h4>Founder</h4>
      <h5>CoSupport</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker dark">
    <div class="speaker-photo rob">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Rob MacDonald</h3>
      <h4>Attorney</h4>
      <h5>Taft, Stettinius &amp; Hollister LLP</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->


  <div class="speaker light">
    <div class="speaker-photo lb">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>LB<br /> Denker</h3>
      <h4>Anthropologist of Developer Culture</h4>
      <h5>Etsy</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo marty">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Marty Boyer</h3>
      <h4>Chief Product Officer</h4>
      <h5>Possible Worldwide</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker dark">
    <div class="speaker-photo ben">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Ben Curren</h3>
      <h4>CTO/Co-Founder</h4>
      <h5>Outright</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

   <div class="speaker light">
    <div class="speaker-photo sara">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Sara Morgan</h3>
      <h4>Founder</h4>
      <h5>Tailored</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo alex">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Alex Hillman</h3>
      <h4>Founder</h4>
      <h5>IndyHall</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

</section>
<!-- /speakers -->

<hr />