/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: "brandon-grotesque", sans-serif; font-weight: 500; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

/*
 * Base Styles
 */

body {
  background: url(../img/woodbackground.jpg); 
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

#container {
  width: 1130px;
}



/*
 * Header
 */

#container header {
  background: url(../img/structurehead.png) no-repeat;
  min-height: 231px;
  padding: 19px 0 0 0;
}

#container header #logo a {
  display: block;
  width: 53px;
  height: 120px;
  background: url(../img/logo.png) no-repeat;
  text-indent: -9999px;
  margin: 50px 50px 0;
  float: left;
}

#container header #tagline {
  float: left;
  width: 480px;
  margin: 50px 0 0 0;
}

#container header #tagline p {
  margin: 0;
  padding: 0;;
  font-style: normal;
  font-weight: 500;  
  font-size: 56px;
  text-transform: uppercase;
  line-height: 50px;
}

#container header #tagline p strong {
  font-style: normal;
  font-weight: 900;
}

#container header #confdesc {
  float: left;
  width: 190px;
  font-size: 14px;
  color: #eb008b;
  font-style: normal;
  font-weight: 700;  
  margin: 50px 0 0 0;
}

#container header #confdesc p {
  margin: 0;
  padding: 0 0 20px 0;
  text-transform: uppercase;
}

#container header #confdesc p span {
  text-transform: lowercase;
}

#twittershare {
  margin: 0 0 0 710px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;  
}

#twittershare a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  background: url(../img/twitter.png) no-repeat;
  height: 31px;
  padding: 0 0 0 66px;
  display: block;
  width: 180px;
}


/*
 * Nav
 */

#topnav {
  position: fixed;
  width: 246px;
  height: 380px;
  top: 100px;
  left: 884px;
}

#topnav ul {
  padding: 0 0 0 46px;
}

#topnav li {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 55px;
  background: url(../img/navdivider.png) 0 bottom no-repeat; 
}

#topnav li a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);  
}

#topnav li.register {
  margin: 0;
  padding: 0;
}

#topnav li.register a {
  height: 87px;
  display: block;
  text-indent: -9999px;
  width: 100%;
  background: url(../img/register2.png) no-repeat;
  width: 246px;
  margin: 0 0 0 -46px;
}

#message a
{
	/* display: block before hiding */
	display: block;
 
	/* link is above all other elements */
	z-index: 999; 
 
	/* link doesn't hide text behind it */
	opacity: .8;
 
	/* link stays at same place on page */
	position: fixed;
 
	top: 600px;
	left: 980px;

 
	background: url(../img/toparrow.png) no-repeat;
	height: 75px;
	width: 75px;
	text-indent: -9999px;
}

/*
 * Content
 */

#container #main {
  background: url(../img/structurebody.png) repeat-y;
  min-height: 1000px;
  padding: 1px 0 0 0;
}

#portrait {
  background: url(../img/portrait.jpg) 0 bottom no-repeat;  
  height: 1025px;
}

#speakers {
  padding: 50px 0 0 150px;
  width: 730px;
  margin: -100px 0 0 0;
}

#main h4 {
  margin: 0;
  padding: 0;
  font-size: 52px;
  font-weight: 500; 
  line-height: 50px;
  letter-spacing: -1px; 
}

#main p {
  margin: 0;
  padding: 10px 150px 10px 0;
  font-size: 20px;
  font-weight: 500;
}

#speakerlist ul {
  margin: 0;
  padding: 10px 0;
}

#speakerlist ul li {
  width: 175px;
  height: 175px;
  background: #000;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 0;
  float: left;
  position: relative;
}

#speakerlist ul li a {
  width: 175px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  text-decoration: none;
  font-weight: 600;
}

#speakerlist ul li a .speakername, #speakerlist ul li a .speakertitle {
  display: none;
}

#speakerlist ul li a:hover {
  -webkit-box-shadow: 0px 0px 18px 0px #999;
  -moz-box-shadow: 0px 0px 18px 0px #999;
  box-shadow: 0px 0px 18px 0px #999;
  padding: 20px;
  top: -20px;
  left: -20px;
  z-index: 2000; 
  background: url(../img/sponsorbg.png);
  text-transform: uppercase;
}

#speakerlist ul li a:hover .speakername {
  font-size: 19px;
  color: #000;
  display: block;
  padding: 15px 0 0 0;
}

#speakerlist ul li a:hover .speakertitle {
  color: #eb008b;
  font-size: 14px;
  display: block;
}

#main li.last {
  margin-right: 0;
}

#attending {
  padding: 0 0 0 150px;
  width: 730px;
  margin: 20px 0 50px 0; 
}

#attendinglist ul {
  margin: 0;
  padding: 10px 0;
}

#attendinglist ul li {
  width: 64px;
  height: 64px;
  background: #000;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 0;
  float: left;
}

.prevattending {
  width: 64px;
  height: 64px;
  display: block;
  text-indent: -9999px;
  background: url(../img/attendingsprite.png) no-repeat;
}

.nextattending {
  width: 64px;
  height: 64px;
  display: block;
  text-indent: -9999px;
  background: url(../img/attendingsprite.png) -64px 0 no-repeat;
}

#schedule {
  padding: 50px 0 50px 150px;
  width: 730px;
  margin: 20px 0 0 0; 
  background: url(../img/schedulebg.png);
}

#schedule h4 {
  color: #fff;
}

#schedule table {
  width: 100%;
}

#schedule table tr {
  font-weight: 700;
  font-size: 20px;
  color: #0e4d4e;
  line-height: 50px;
  border-bottom: 1px solid #0e4d4e;
}

#schedule table tr th {
  width: 50%;
  text-align: left;
  color: #fff;
}

#schedule table tr td {
  width: 50%;
}

#information {
  padding: 50px 0 0 150px;
  width: 730px;
  margin: 0 0 0 0; 
}

#information h4 {
  padding: 0 100px 0 0;
}

#information p {
  margin-bottom: 10px;
}

#information .hotelcaption {
  margin: -40px 30px 0 0;
  padding: 0;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  font-size: 20px;
}

#information .hotelcaption a {
  color: #fff;
  text-decoration: none;
}

#hotelmap {
  margin: -230px 0 0 60px;
}


#sponsors {
  padding: 50px 0 0 150px;
  width: 730px;
  margin: -10px 0 0 0;
  background: url(../img/sponsorbg.png);
}

#sponsors ul {
  margin: 10px 0 0 0;
  padding: 0;
}

#sponsors ul li {
 display: block;
 float: left;
 width: 40%;
}

#sponsors ul li a {
  display: block;
  text-indent: -9999px;
}

.newrelic {
  width: 188;
  height: 45px;
  margin: 10px 0 0 0;
  background: url(../img/sponsors/newrelicsprite.png) 0 -45px no-repeat;
}

.newrelic:hover {
  background: url(../img/sponsors/newrelicsprite.png) 0 0 no-repeat;
}

.gaslight {
  width: 235px;
  height: 52px;
  margin: 5px;
  background: url(../img/sponsors/gaslightsprite.png) 0 0 no-repeat;
}

.gaslight:hover {
  background: url(../img/sponsors/gaslightsprite.png) 0 -52px no-repeat;
}

.engineyard {
  width: 213px;
  height: 107px;
  background: url(../img/sponsors/engineyard.png) no-repeat;
}

.engineyard:hover {
  background: url(../img/sponsors/engineyard.png) 0 -110px no-repeat;
}

.edgecase {
  width: 256px;
  height: 107px;
  background: url(../img/sponsors/edgecase.png) no-repeat;
}

.edgecase:hover {
  background: url(../img/sponsors/edgecase.png) 0 -110px no-repeat;
}

.github {
  width: 213px;
  height: 107px;
  background: url(../img/sponsors/github.png) no-repeat;
}

.github:hover {
  background: url(../img/sponsors/github.png) 0 -100px no-repeat;
}


.pusher {
  width: 256px;
  height: 107px;
  background: url(../img/sponsors/pusher.png) no-repeat;
}

.pusher:hover {
  background: url(../img/sponsors/pusher.png) 0 -110px no-repeat;
}


.tatelucas {
  width: 213px;
  height: 130px;
  background: url(../img/sponsors/tatelucas.png) no-repeat;
}



/*
 * Footer
 */

#container footer {
  color: #fff;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  font-size: .9em;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
  background: url(../img/foot.png) no-repeat;
  min-height: 50px;
  padding: 190px 240px 0 0;  
  text-align: center;
  width: 890px;
}











/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* until we have things, hide 'em */
#attending, #schedule, #information {
  display: none;
}

#venue {
  padding: 50px 0 0 150px;
  width: 730px;
  margin: 0 0 0 0; 
  background: url(../img/schedulebg.png);
}
