.row
  .columns.seven
    %h3
      We're working out all the details right now, but you can stay up to date
      by adding your email address to our mailing list. We promise to only send
      useful stuff!
    %h4
      Thanks!
  .columns.three
    %form#form1.wufoo.nice.topLabel.page{:action => "https://gaslight.wufoo.com/forms/z7x3k1/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form1", :novalidate => ""}
      %ul
        %li#foli1.notranslate
          %label#title1.desc{:for => "Field1"}
            Email
          %div
            %input#Field1.field.text.medium.input-text{:maxlength => "255", :name => "Field1", :spellcheck => "false", :tabindex => "1", :type => "email", :value => ""}/
        %li#foli3.notranslate
          %label#title3.desc{:for => "Field3"} Name
          %span
            %input#Field3.field.text.fn.input-text{:name => "Field3", :size => "8", :tabindex => "2", :type => "text", :value => ""}/
            %label{:for => "Field3"} First
          %span
            %input#Field4.field.text.ln.input-text{:name => "Field4", :size => "14", :tabindex => "3", :type => "text", :value => ""}/
            %label{:for => "Field4"} Last
        %li.buttons
          %div
            %input#saveForm.btTxt.submit.nice.button.large{:name => "saveForm", :type => "submit", :value => "Submit"}/
        %li.hide
          %label{:for => "comment"} Do Not Fill This Out
          %textarea#comment{:cols => "1", :name => "comment", :rows => "1"}
          %input#idstamp{:name => "idstamp", :type => "hidden", :value => "s942ZioS/O/hai0Uu106CxNoXf8POXFcrZGFq997YT4="}/
