<section class="section about" id="about">
  <div class="synopsis content-block light">
    <div class="block-copy">
      <h2>Queen City Merge</h2>
      <p>We pulled the smartest folks from all areas of the web: design, development, marketing and social media.</p>
      <p>If you were too busy checking out the awesome exhibits at the CAC, or wanted to be in two workshops at once, then you'll want to check out the archived talks of 2012's QCMerge below.</p>
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /synopsis  -->

  <div class="email-reg content-block dark">
    <div class="block-copy">
      <h2>Keep me posted</h2>
      <form class="">
        <label>Sign up to know about any updates and when tickets go on sale for QCMerge 2013.</label>
        <div class="input-append">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="http://qcmerge.us4.list-manage1.com/subscribe/post?u=8c64d42f5af77dfcaa8d23c71&amp;id=2583a69c7d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">Subscribe to our mailing list</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe-btn">
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </form>
      <!-- /email-form -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /email-reg -->
</section>
<!-- /about -->

<hr />


<section class="section venue" id="venue">
  <div class="about-cac content-block light">
    <div class="block-copy">
      <h2>Contemporary Arts Center</h2>
      <p>One of the reasons we put QCM together was to showcase our favorite city, so of course we're hosting in an amazing venue downtown. The Contemporary Arts Center has awesome architecture, is full of great exhibits (did we mention that's included in your ticket?) and a crazy 45 staircase!</p>
      <p>We've booked the venue for Thursday and Friday, so we're working on a great event for Thursday night with some familiar faces from around the city. That's included, too.</p>
    </div>
    <!-- /block-copy -->
    <div class="block-image">
    </div>
    <!-- /block-image -->

  </div>
  <!-- /about-cac -->

  <div class="lodging content-block lightest">
    <div class="block-image">
      
    </div>
    <!-- /block-image -->
    <div class="block-copy">
      <h2>Where should I stay?</h2>
      <p>Keeping in line with what makes Cincinnati unique, QCMerge worked with one of the best hotels in Cincinnati to give QCMerge attendees a great rate. The 21c Museum Hotel is adjacent to the Contemporary Arts Center and directly across the street from the Aronoff Center.</p>
      <ul class="unstyled hotel-list">
        <li class="hotel">
          <div id="" class="vcard">
           <div class="org"><%= link_to '21c Museum Hotel', 'http://www.21cmuseumhotels.com/cincinnati/', target: '_blank' %></div>
           <div class="adr">
            <div class="street-address">609 Walnut St.</div>
            <span class="locality">Cincinnati</span>, <span class="region">OH</span> <span class="postal-code">45209</span>

           </div>
           <!-- /adr -->
           <div class="tel">513.578.6600</div>
          </div>
          <!-- /vcard -->
        </li>
        <!-- /hotel -->
      </ul>
      <!-- /hotel-list -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /about-cac -->
</section>
<!-- /venue -->

<hr />

<section class="section sponsors" id="sponsors">
  <ul class="unstyled sponsor-list">
    
    <li class="sponsor">
      <%= link_to image_tag('sponsors/img-gaslight.png'), 'http://gaslight.co/', target: '_blank' %>
    </li>
    <!-- /sponsor -->
   <li class="sponsor">
    <%= link_to image_tag('sponsors/img-ample.png'), 'http://helloample.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
  </ul>
  <!-- /sponsor-list -->
</section>
<!-- /sponsors -->

