<section class="section about" id="about">
  <div class="synopsis content-block light">
    <div class="block-copy">
      <h2>Queen City Merge</h2>
      <p>It’s a conference without cubicle divisions. Where developers, marketers, designers and social media types share what they know.</p>
      <p>Sign up, so we might band together for two days of thought-provoking discussion, delicious food and jolly good fun. Below you’ll find the great minds who will be speaking, the beautiful places where we’ll be staying and workshops we’ll be attending.</p>
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /synopsis  -->

  <div class="email-reg content-block dark">
    <div class="block-copy">
      <h2>Keep me posted</h2>
      <form action="http://qcmerge.us4.list-manage1.com/subscribe/post?u=8c64d42f5af77dfcaa8d23c71&amp;id=2583a69c7d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label>I must know when tickets are going on sale for QCMerge 2013!</label>
        <div class="input-append">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <label for="mce-EMAIL">Subscribe to our mailing list</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe-btn">
          </div>
          <!--End mc_embed_signup-->
        </div>
      </form>
      <!-- /email-form -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /email-reg -->
</section>
<!-- /about -->

<hr />


<section class="section venue" id="venue">
  <div class="about-cac content-block light">
    <div class="block-copy">
      <h2>Contemporary Arts Center</h2>
      <p>A revolution is here. Cincinnati is a staging ground for great design and online innovation. Something you’ll notice from our venue alone. The Contemporary Arts Center is a pioneering museum that focuses on new developments in painting, sculpture, photography, architecture, performance art and new media.</p>
      <p>Basically, you will be surrounded by stunning architecture and some incredibly inspiring displays of talent. Plus, access is included in your ticket. So enjoy.</p>
    </div>
    <!-- /block-copy -->
    <div class="block-image">
    </div>
    <!-- /block-image -->

  </div>
  <!-- /about-cac -->

  <div class="lodging content-block lightest">
    <div class="block-image">
      
    </div>
    <!-- /block-image -->
    <div class="block-copy">
      <h2>Where should I stay?</h2>
      <p>The 21C Museum Hotel is in the center of downtown Cincinnati action — adjacent to the Contemporary Arts Center and across the street from the Aronoff Center for the Arts. It’s a 156-room boutique hotel, contemporary art museum and cultural civic center. And they’re offering a great rate for QCMerge attendees.</p>
      <ul class="unstyled hotel-list">
        <li class="hotel">
          <div id="" class="vcard">
           <div class="org"><%= link_to '21c Museum Hotel', 'http://www.21cmuseumhotels.com/cincinnati/', target: '_blank' %></div>
           <div class="adr">
            <div class="street-address">609 Walnut St.</div>
            <span class="locality">Cincinnati</span>, <span class="region">OH</span> <span class="postal-code">45209</span>

           </div>
           <!-- /adr -->
           <div class="tel">513.578.6600</div>
          </div>
          <!-- /vcard -->
        </li>
        <!-- /hotel -->
      </ul>
      <!-- /hotel-list -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /about-cac -->
</section>
<!-- /venue -->

<hr />

<section class="section sponsors" id="sponsors">
  <ul class="unstyled sponsor-list">
    
    <li class="sponsor">
      <%= link_to image_tag('sponsors/img-gaslight.png'), 'http://gaslight.co/', target: '_blank' %>
    </li>
    <!-- /sponsor -->
   <li class="sponsor">
    <%= link_to image_tag('sponsors/img-ample.png'), 'http://helloample.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
  </ul>
  <!-- /sponsor-list -->
</section>
<!-- /sponsors -->

