---
section: 'home'
title: 'A Uniquely Different Community Orgainzation'
meta_description: ''
meta_keywords: ''
---

<h1>I’m a developer, designer, entrepreneur.</h1>
<h1>And I’m looking for new skills, a better job, seed funding.</h1>

<div class="row">
  <div class="col-md-8 col-sm-12">
    <h3>Get connected with everything tech in Cincinnati: events, training, networking, ideas, jobs, funding and more.</h3>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <a class="twitter-timeline" href="https://twitter.com/QCMerge" data-widget-id="426358131099054080">Tweets by @QCMerge</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col-sm-12 col-md-6">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fqcmerge&amp;width&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=133277943354801" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:590px;" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <h3>Get connected with everything tech in Cincinnati. Sign-up for our emails:</h3>
    <form action="http://qcmerge.us4.list-manage1.com/subscribe/post?u=8c64d42f5af77dfcaa8d23c71&amp;id=2583a69c7d" method="post" id="mc-embedded-subscribe-form-main" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
      <div class="form-group">
        <label for="mce-EMAIL2">Email address</label>
        <input type="email" name="EMAIL" class="email form-control" id="mce-EMAIL2">
      </div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-main" class="btn subscribe-btn">
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>What’s QCMerge?</h3>
    <h5>It’s a movement. An organization. A constantly evolving dream.</h5>
    <p>We believe Cincinnati has the all makings of a world-class tech city. But those ingredients need a little push to combine in some amazing new ways.</p>
    <p>That’s where QCMerge comes in. We’re focused on bringing together everyone in the local tech community: developers, designers, writers, social media professionals, entrepreneurs, investors, students, recruiters, career changers and more.</p>
    <p>To what end? Our mission is simple: Spark life-changing connections among the people, places, knowledge, and resources in Cincinnati’s tech community.</p>
    <p>If we do it well, we hope to marvel as our vision comes to life: Build a stronger, more united tech community with a clear voice in the future of Cincinnati.</p>
    <p>Let’s build one of the best tech cities in the world together.</p>
    <h3>Words We Live By</h3>
    <p>We’re open source all the way. We do nearly all the planning and management for QCMerge right out in the open. Join the movement and share your ideas right here: <a href="https://github.com/qcmerge/administration">github.com/qcmerge/administration</a></p>
    <p>QCMerge is a voice for everyone. We’re a grassroots, bottom-up movement. There’s no big money group pulling the strings behind the scenes. Anyone who wants to be involved can jump right into the mix.</p>
  </div>
</div>