---
section: 'home'
title: 'A Uniquely Different Community Orgainzation'
meta_description: ''
meta_keywords: ''
---

<h1>Queen City Merge</h1>
<p>QCMerge is a community organization in downtown Cincinnati which helps cross-pollinate creatives and technologists who are looking to extend the boundaries of their profession.</p>